$secondary-color: #333842;
$primary-color: rgb(244, 247, 250);
$accent-color: #4cf608;
$background-gradient-start-color: #4d5dfb;
$background-gradient-mid-color: #08c8f6;
$background-gradient-end-color: #6870b6;