@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Zen+Antique&display=swap');
body {
  font-family: 'Zen Antique', serif;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  padding: 25px;
}
