@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './colors';

body {
  font-family: 'Roboto Slab', serif;
  background-color: $secondary-color;
}

* {
  box-sizing: border-box;
}

.App {
  color: $primary-color;
  height: 100vh;
  padding: 25px;
}

@media only screen and (max-width: 800px) {
  .App {
    padding: 10px;
  }
}
